
.movie {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 140px 1fr;
}
.container {
  grid-column: 2;
  grid-row: 1;
  padding: 10px;
  background-color: antiquewhite;
  border: 1px solid rgb(179, 177, 177);
  border-radius: 5px;
  display: grid;
  grid-template-areas: "header"
                       "title"
                       "type"
                       "search";
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 10px 5px; 
}

.header {
  grid-area: header;
  text-align: center;
  font-weight: bold;
}
.title {
  grid-area: title;
}

.type {
  grid-area: type;
}

.search {
  width: 100%;
  height: 25px;
  grid-area: search;
}

