body {
    height: 100vh;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.loginContainer {
    display: flex;
    flex-direction: column;
}

.container2 {
    width: 400px;
    background-color: antiquewhite;
    display: grid;
    grid-template-areas: "email   login"
                         "pass    pasrep"
                         "btnsig  btnsig";
    gap: 10px 5px; 
}

.email {
    grid-area: email; 
}

.login {
    grid-area: login;
}

.passw {
    grid-area: pass;
}

.repeat-password {
    grid-area: pasrep;
}

.btn-sign {
    width: 80%;
    grid-area: btnsig;
}

