* {
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", sans-serif;
  max-width: 1920px;
}

.text-h1 {
  font-size: 34px;
  font-weight: 300;
  letter-spacing: 0.5px;
}

.text-h2 {
  font-size: 34px;
  font-weight: 300;
  letter-spacing: 0.5px;
  color: white;
}

.text-h3 {
  font-size: 12px;
  color: grey;
}

.text-simple {
  font-size: 14px;
  color: grey;
  line-height: 1.6;
  letter-spacing: 0.5px;
}

.icons {
  font-size: 40px;
  color: white;
}

.all {
  max-width: 1920px;
  display: flex;
  flex-direction: column;
}

.section-main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

.section-main-foto {
  width: 50%;
  height: 100vh;
  background-image: url(../images/home-img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.section-main-logo {
  position: absolute;
  top: 20px;
  left: 120px;
  font-size: 30px;
  text-shadow: 1px 1px 2px white, 0 0 1em white;
  font-weight: bold;
}

.section-main-menu {
  width: 50%;
  height: 100vh;
  background-color: rgb(240, 226, 215);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.menu-items {
  width: 60%;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 35px;
  left: 85px;
}
.main-text1 {
  letter-spacing: 2px;
}

.items {
  font-size: 12px;
  font-weight: bold;
  color: black;
  text-decoration: none;
  margin: 0 2px;
}
.items:hover {
  color: rgb(217, 172, 139);
}

.section-main-text {
  width: 90%;
  height: 50%;
  margin: 0 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.section-main-button {
  width: 100px;
  text-decoration: none;
  margin-top: 10px;
  padding: 12px 24px;
  background-color: transparent;
  border: solid 2px black;
  color: black;
  font-size: 15px;
  font-weight: bold;
  border-radius: 30px;
  text-align-last: center;
}

.section-main-button:hover {
  color: rgb(217, 172, 139);
  border-color: rgb(217, 172, 139);
}

/* --section donec=auctor-- */

.donec-auctor {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.div-donec-auctor {
  width: 50%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.donec-text1 {
  padding-left: 30px;
}

.donec-text2 {
  color: rgb(221, 198, 166);
  padding-left: 30px;
}

.donec-text3 {
  width: 80%;
  padding-left: 30px;
}

.donec-text4 {
  width: 80%;
  padding-left: 30px;
}

.my-skills {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
}

.my-skills-foto {
  width: 50%;
  height: 300px;
  background-image: url(../images/about-img.jpg);
  background-size: 320%;
  background-position: top center;
}

.my-skills-text {
  width: 50%;
  padding-top: 20px;
  padding-bottom: 20px;
  color: white;
  background-color: rgb(228, 174, 88);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.my-skills-text1 {
  padding-left: 30px;
}

.my-skills-text2 {
  padding-left: 30px;
  color: white;
}

.my-skills-text-item {
  height: 30px;
  padding-left: 30px;
  padding-top: 10px;
  display: flex;
  flex-wrap: nowrap;
}

.text-item1 {
  width: 80%;
  color: black;
  font-weight: bold;
  border-bottom: 2px solid black;
}

.text-item2 {
  width: 60%;
  color: black;
  font-weight: bold;
  border-bottom: 2px solid black;
}

.text-item3 {
  width: 70%;
  color: black;
  font-weight: bold;
  border-bottom: 2px solid black;
}

.text-item1-prc {
  width: 10%;
  color: white;
  border-bottom: 2px solid white;
  font-size: 12px;
  font-weight: bold;
  text-align: right;
}

.text-item2-prc {
  width: 30%;
  color: white;
  border-bottom: 2px solid white;
  text-align: right;
  font-size: 12px;
  font-weight: bold;
}
.text-item3-prc {
  width: 20%;
  color: white;
  border-bottom: 2px solid white;
  text-align: right;
  font-size: 12px;
  font-weight: bold;
}

.blok-para1 {
  width: 50%;
  height: 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.blok-para2 {
  width: 50%;
  height: 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.name-text {
  font-size: 24px;
}

.block-text {
  color: white;
  padding: 0 10% 10% 10%;
  text-align: center;
}

.block-icons {
  padding-top: 10%;
}

.iterface-design {
  width: 50%;
  box-sizing: border-box;
  padding: 5%;
  background-color: rgb(228, 174, 88);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.media-strategy {
  width: 50%;
  box-sizing: border-box;
  padding: 5%;
  background-color: rgb(223, 113, 76);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.mobyle-app {
  width: 50%;
  box-sizing: border-box;
  padding: 5%;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.coding-blok {
  width: 50%;
  box-sizing: border-box;
  padding: 5%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.color-black {
  color: black;
}

.coding-blok-text {
  color: gray;
}

/* --section--3-- */

.section3 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.section3-content1 {
  width: 50%;
  height: 300px;
  background-image: url(../images/experience-img.jpg);
  background-size: cover;
  background-position: top center;
}

.section3-content2,
.section3-content3 {
  width: 50%;
  height: 300px;
  padding: 3% 5%;
  background-color: rgb(223, 113, 76);
  color: white;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content2-text {
  color: white;
  text-align: start;
}

.content2-date {
  color: black;
  font-size: 16px;
  font-weight: bold;
  padding-left: 5px;
}

.content2-block {
  display: flex;
  flex-direction: row;
}

.section3-icons {
  font-size: 30px;
  padding-top: 5px;
}

.block-text {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;  
  align-items: baseline;
  padding: 0%;
  padding-left: 20px;
}

.section3-content3 {
 background-color: rgb(228, 174, 88);
}

.section3-content4 {
  width: 50%;
  background-image: url(../images/education-img.jpg);
  background-size: cover;
  background-position: top center;
}

/* --section--4-- */

.section4 {
  width: 100%;
  height: 400px;
  background: url('../images/quotes-bg.jpg') no-repeat center /cover, #555555;
  background-blend-mode: multiply;  
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
  padding: 5% 10%;
}

/* --section--5-- */

.section5 {
  width: 100%;
  display: flex;
  
}

.section5-block1 {
  width: 50%;
  height: 500px;
  background-color: rgb(223, 113, 76);;
}

.block1-content {
  height: 100%;
  box-sizing: border-box;
  color: white;
  padding: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.section5-block2 {
  width: 25%;
  height: 500px;
  background: url('../images/contact-img.jpg') no-repeat center /cover;
}

.section5-block3 {
  width: 25%;
  height: 500px;
  padding: 2%;
  padding-bottom: 15%;
  background-color: black;
  color: white;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.contacts-content {
  display: flex;
}

.contacts-icons {
  color: gray;
  font-size: 12px;
  padding-top: 5px;
  padding-right: 10px;
}

.contacts-text-color {
  color: rgb(228, 174, 88);
}

.forms1 {
  color: white;
  width: 95%;
  height: 30px;
  background: transparent;
  border: none;
  border-bottom: 1px solid rgb(231, 151, 151);
}

.forms2 {
  color: white;
  width: 98%;
  text-align: left;
  font-size: 16px;
  background: transparent;
  border: none;
  border-bottom: 1px solid rgb(231, 151, 151);
}

input::placeholder {
  color:white;
  font-size: 16px;
}

.section5-button {
  width: 40%;
  padding: 12px 24px;
  background-color: white;
  border: transparent;
  color: gray;
  font-size: 15px;
  font-weight: bold;
  border-radius: 30px;
  text-align-last: center;
}

/* --section--footer-- */

.footer {
  width: 100%;
  height: 330px;
  padding: 10%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.footer-color {
  color: rgb(228, 174, 88);
}

.footer-icon {
  width: 25%;
  color: grey;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
}







